@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
  }


  
  .flip-card-inner.flipped .flip-card-front {
    transform: rotateY(-180deg);
    transition: transform 0.8s ease-in-out;
  }
  
  .flip-card-inner.flipped .flip-card-back {
    transform: rotateY(0deg);
    transition: transform 0.8s ease-in-out; 
  }
  
.card {
  background-color: #3498db;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: background-color 0.5s ease-in-out;
}

.card.movie {
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-size:auto;
  background-attachment: fixed;
  background-color: #3498db;
}


.card.movie-roll-back {
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #3498db;
  animation: rollBack 0.5s forwards;
}

.card.hero-roll-front {
  background-image: url("img1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f1c40f;
  animation: rollFront 0.5s forwards;
}

.card p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.card span {
  font-size: 12px;
}

.card a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.card button {
  background-color: orange;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;font-family: sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
  width: 900px;
  height: 500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rollBack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform:translateX(-100%);
  }
}

@keyframes rollFront {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}